<section class="content">
  <h1 class="title">Tipos de clientes</h1>
  <hr class="hr">
  <article class="post">
    <p class="post-content"></p>
    <p class="post-content">Descarga el collage sobre los tipos de clientes</p>
  </article>
  <div class="button">
    <a class="post-link" href="../../../../../assets/works/collage.pdf" target="_BLANK">click aquí</a>
  </div>
  <article class="post">
    <p class="post-content">Descarga el documento sobre los tipos de clientes</p>
  </article>
  <div class="button">
    <a class="post-link" href="../../../../../assets/works/collage-text.pdf" target="_BLANK">click aquí</a>
  </div>
</section>
