<section class="content">
  <h1 class="title">Help Desk</h1>
  <hr class="hr">
  <article class="post">
    <p class="post-content">El servicio al cliente, conocido también como servicio de atención al cliente es una herramienta de marketing, que se encarga de establecer puntos de contacto con los clientes, a través de diferentes canales, para establecer relaciones con ellos, antes, durante y después de la venta.</p>
    <p class="post-content">Descarga el siguiente documento para conocer los atributos de la atención al cliente</p>
  </article>
  <div class="button">
    <a class="post-link" href="../../../../../assets/works/importancia-buen-servicio.pdf">click aquí</a>
  </div>
</section>
