@import 'colors';
@import 'sizes';

.icon {
  margin: .21em;
}

.menu-icon {
  position: absolute;
  font-size: 40px;
  color: $ezra-white;
  top: .5rem;
  right: 1.5rem;
  cursor: pointer;
  z-index: 30;
}

.logo {
  position: fixed;
  top: .5rem;
  left: 1.5rem;
  z-index: 30;
}

.main-menu {
  background-color: $ezra-black;
  position: relative;
  list-style: none;
  margin-top: 0;
  // padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform $ezra-t-m;
  transform: translateY(-100%);
  z-index: 20;
  color: $ezra-white;
  font-size: $font-size-header;

  &__item {
    padding: 1em;
    color: $ezra-white;
    text-decoration: none;
    font-size: $font-size-header;
    transition: color $ezra-t-m;
    cursor: pointer;
  }

  &__active1 {
    color: $ezra-red;
  }

  &__active2 {
    color: $ezra-blue;
  }

}

@media (hover: hover) {
  .main-menu {
    &__hover1:hover {
      color: $ezra-red;
    }

    &__hover2:hover {
      color: $ezra-blue;
    }
  }
}

.main-menu__show {
  transform: translateY(0);
}



@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .logo {
    position: static;
  }

  .main {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    transition: $ezra-t-m;
    padding: .2em .1em;
    z-index: 10;

    &-nav {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-menu {
      background-color: rgba(0, 0, 0, 0);
      position: relative;
      flex-direction: row;
      transform: translateY(0);
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}
