@import 'colors';
@import 'sizes';

.icon {
  margin: .21em;
}

.menu-icon {
  position: fixed;
  font-size: 30px;
  color: #111;
  top: .3rem;
  right: .3rem;
  cursor: pointer;
  z-index: 40;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo {
  position: fixed;
  top: .2rem;
  left: .3rem;
  z-index: 80;
  margin-right: .5em;
  cursor: pointer;
}

.main-menu {
  background-color: $ezra-white;
  position: relative;
  list-style: none;
  margin-top: -10px;
  padding: 3px;
  border-radius: 0 0 1rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform $ezra-t-m;
  transform: translateY(-100%);
  color: $ezra-white;
  font-size: $font-size-header;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 3px;
  z-index: 30;

  &__item {
    padding: 1em;
    color: $ezra-black;
    text-decoration: none;
    font-size: $font-size-header;
    transition: color $ezra-t-m;
    cursor: pointer;
  }

  &__active1 {
    color: $ezra-red;
  }

  &__active2 {
    color: $ezra-blue;
  }

}

@media (hover: hover) {
  .main-menu {
    &__hover1:hover {
      color: $ezra-red;
    }

    &__hover2:hover {
      color: $ezra-blue;
    }
  }
}

.main-menu__show {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .logo {
    position: static;
    cursor: auto;
    margin-right: 1em;
  }

  .main {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    transition: $ezra-t-m;
    z-index: 50;
    // padding: 10px;

    &-nav {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-menu {
      position: relative;
      flex-direction: row;
      transform: translateY(0);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      // margin-top: -15px;
    }
  }
}
