<section class="main">
    <h1 class="main-title">Atencion AL Cliente</h1>
    <hr>
    <article class="main-article">
        <p class="main-article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit natus accusamus, magni voluptas voluptatem, aut nisi voluptates, nihil a sint quam. Vitae beatae ducimus quisquam, officia quae labore omnis ab, aperiam eaque, tempore vero quia eius cumque molestias incidunt exercitationem in magnam eveniet reiciendis explicabo placeat. Placeat provident aperiam tempora impedit laboriosam excepturi consequuntur quo natus!</p>
    </article>
</section>