<nav>
  <div class="menu-icon" (click)="mostrar()">
    <i class="icon ion-ios-menu"></i>
  </div>
  <div class="logo">
    <a href="#">logo</a>
  </div>
  <ul class="main-menu" [ngClass]="status ? 'show' : ''">
    <li class="main-menu__item">
      <a class="main-menu__link" href="#">hola</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="#">hola</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="#">hola</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="#">hola</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="#">hola</a>
    </li>
  </ul>
</nav>
