<section class="content">
  <h1 class="title">Tipos de Soporte Tecnico</h1>
  <hr class="hr">
  <article class="post">
    <p class="post-content">Muchas empresas ofrecen soporte técnico para software. A menudo, este soporte lo brinda un técnico que es el experto en el software. Otras veces pueden ofrecer esa ayuda en forma escrita, documentación o incluso videos.</p>
    <p class="post-content">Sin importar el medio por el cual se brinda, es importante como empresa contar con este apoyo y, al mismo tiempo, ofrecerlo al cliente si tu servicio o producto tiene que ver con hardware o software. </p>
    <p class="post-content center">Descarga el siguiente documento para conocer los tipos de soporte técnico</p>
  </article>
  <div class="button">
    <a class="post-link" href="../../../../../assets/works/mapa_conceptual_rodriguez_granados.pdf" target="_BLANK">click aquí</a>
  </div>
</section>
