.section {
  top: 0;
  position: absolute;
  width: 100%;
  height: 50vh;
  background: url(../../../../assets/background-home/bg.jpg);
  background-size: cover;
  background-position: center center;
}
