<section class="content">
  <h1 class="title">Importancia de un buen servicio</h1>
  <hr class="hr">
  <article class="post">
    <p class="post-content">Es de suma importancia que cualquier empresa le brinde un buen servicio a un cliente, para
que este tenga una buena CX, independientemente del producto o servicio que dicha empresa
ofrezca. A todas las personas les gusta que las traten bien, ¿A quién no le gusta que le sirvan
el café? En España, el 87% de los clientes están dispuestos a pagar más a cambio de una
buena experiencia de cliente, pero solo el 1% de las empresas cumplen con las expectativas
del cliente.</p>
    <p class="post-content">Descarga el siguiente documento para leer sobre la atención al cliente</p>
  </article>
  <div class="button">
    <a class="post-link" href="../../../../../assets/works/atencion_al_cliente_rodriguez_granados.pptx" target="_BLANK">click aquí</a>
  </div>
</section>
