.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(48vh - 166px) 0 0 0;
  padding-top: 6rem;
}

@media screen and (min-width: 768px) {
  .content {
    margin: 45vh 0 0;
    padding-top: 50px;
  }
}
