<section class="cards">
  <article class="card">
    <div class="card-cover">
      <img src="../../../../assets/about/emma.png" alt="Fernando Emmanuel Rodríguez Granados">
      <div class="card-img__back"></div>
    </div>
    <div class="card-description">
      <h1 class="card-description__title">Emmanuel Granados</h1>
      <p class="card-description__text">Ezra es un proyecto escolar creado por un estudiante de 4T del CBTis #110. Estudio la carrera de Spte. Y Mtto. de cómputo</p>
      <p class="card-description__text">Soy solo un niño de 16 años imperfecto, que busco día a día la santificación. No tengo nada que jactarme o gloriarme. Si tengo algo de que gloriarme, pues será por los méritos de la obra perfecta de mi Señor Jesucristo en la cruz.</p>
      <!-- <a class="card-description__link" routerLink="/core/contacto">Contactar</a> -->
    </div>
  </article>
</section>
