<section class="content">
  <h1 class="title">Niveles de Soporte</h1>
  <hr class="hr">
  <article class="post">
    <p class="post-content">El soporte técnico es el área de servicios de una empresa que se encarga de solucionar problemas o inconvenientes de los clientes luego de adquirir un producto.</p>
    <p class="post-content">Existen 5 niveles de soporte técnico</p>
  </article>
  <div class="button">
    <a class="post-link" href="https://app.popplet.com/#/p/6952176" target="_BLANK">click aquí</a>
  </div>
</section>
