@import 'colors';
@import 'mixins';
@import 'colors';
@import 'sizes';

@font-face {
  font-family: 'lemon milk';
  src: url(assets/LEMONMILK-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

hr.hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .32), rgba(0, 0, 0, 0));
}

html {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $ezra-gray;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $ezra-red;
    border-radius: 2rem;
    border: 2px solid $ezra-red;
    /* creates padding around scroll thumb */
  }
}

html {
  scrollbar-width: thin;
  scrollbar-color: $ezra-red $ezra-gray;
}

.title {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}

.content {
  padding-top: 50px;
  padding: 5px;

  .post {

    &-content {
      text-align: left;
      margin: .55em;
    }

    &-link {
      @include btn($ezra-red, $ezra-white, $border-cards);
    }
  }
}
